
.idea/*

__pycache__/*

catboost_info/*

references/*
results/*

experiments/*
assets/*
tmps/*

wandb/*

scripts/*

tmp/*
datasets/*
data/*

*.log

*.wav
*.mp3

*.pkl



*.png

*.jpg
*.xlsx
*.csv

catboost_info


